{% if news is defined %}
	{% set first = 1 %}
    {% for new in news %}
    	
        <li class="alert alert-success">
            {{ new.nom|raw }}
            {% if first == 1 %}
            	<script>setId('{{ new.id }}');</script>
            	{% set first = 2 %}
			{% endif %}        
        </li>
        
    {% endfor %}
{% endif %}
