{% extends "::layout.html.twig" %}

{% block title %}
	Cours - {{ parent() }}
{% endblock %}

{% block body %}

	{# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
	<div id="commentList" class="alert alert-block">
		{% block titre_cours %}
		 	<h1>Cours</h1>
		{% endblock %}
	</div>
	<hr>

	{# On gère les messages flash de façon global pour tout le bundle #}
	{% for key, flash in app.session.getFlashes() %}
		<div class="alert alert-{{ key }}">
			{{ flash }}
		</div>
	{% endfor %}

	{# On définit un nouveau block, que les vues du bundle pourront étendre #}
	{% block Enseignement_body %}
	{% endblock %}

{% endblock %}