
<a class="brand" href="#">User name</a>
<ul class="nav">
              <li class="active"><a href="#">Profil</a></li>
              <li               ><a href="#">Messages<span      id="nbrNotif1" class="warningbox msgnbr">3</span></a></li>
              <li               ><a href="#">Notifications<span id="nbrNotif2" class="warningbox notifnbr">1</span></a></li>
              <li               ><a href="#">Alertts<span       id="nbrNotif3" class="warningbox alertnbr">1</span></a></li>
              
</ul>
<div><a class="close btn btn-danger" href="#">Déconnexion</a></div>