{% for c in conversations %}
	{% if c.user == app.user %}
		<div class="span4 alert alert-danger">
			<div class="btn alert-info">moi :</div> 
	{% else %}
		<div class="margin-right alert alert-success">
			<div class="btn alert-info">{{ c.user }} :</div> 
	{% endif %}
			
				<p>{{ c.msg }}</p>
				<div class="pull-right alert-info">{{ c.createdat|date('Y-m-d H:i:s') }}</div>
		</div>

{% endfor %}
