{% extends "ProjetForumBundle::layout.html.twig" %}

{% block title %}
	Nouveau - {{ parent() }}
{% endblock %}

{% block Forum_body %}

<h1>Sujet : {{ entity.nom }}</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Créé le</th>
            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>


<div id="commentList" class="alert">
	{% include "ProjetForumBundle:Comment:index.html.twig" %}
</div>


<div id="newComment">
	{% include "ProjetForumBundle:Comment:new.html.twig" %}
</div>

{% endblock %}