

<form class="form-action" action="{{ path('conversation_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-success" type="submit">Répondre</button>
    </p>
</form>

{#
<ul class="record_actions">
    <li>
        <a href="{{ path('conversation') }}">
            Back to the list
        </a>
    </li>
</ul>
#}
