{% extends "ProjetUserBundle::layout.html.twig" %}

{% block title %}
	Modification- {{ parent() }}
{% endblock %}

{% block fos_user_content %}

<h1>User edit</h1>
<form action="{{ path('user_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="alert alert-success" type="submit">Mettre à jour</button>
    </p>
</form>

{% endblock %}