
		<ul class="nav nav-pills nav-stacked">
			{#<li><a href="{{ path('sujet')             }}">Accueil du Forum  </a></li>
			<li><a href="{{ path('sujet_new')         }}">Ajouter un Sujet  </a></li>#}
			<li><a href="{{ path('enseignement')      }}">Accueil des Cours </a></li>
			<li><a href="{{ path('enseignement_new')  }}">Ajouter un Cours  </a></li>
		</ul>

	