
<a class="brand" href="#">User name</a>
<ul class="nav">
              <li class="active"><a href="#">Profil</a></li>
              <li><a href="#about">Messages</a></li>
              <li><a href="#contact">Notifications<div id="nbrNotif">1</div></a></li>
</ul>